/* Basis styles */

html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #659DBD;
    color: white;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    color: black;


}

nav ul li {
    position: relative;
    padding-right: 2em;
    color: black;

}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;

}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;

}

.dropdown:hover > ul {
    display: block;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
}

p {
    color: white;
}



main {
    color: white;
}

footer {
    top: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
}
